*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.container{
  background-color:gray;
  width: 800px;
  height: 40px;
  margin: 10%;
  color: white;

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family:sans-serif;
  margin-left:10px;
}

.logo{
  color:white;
  text-transform:uppercase;
  letter-spacing:normal;
  font-size:20px;
}

.nav-links{
display: flex;
background-color: gray;
justify-content: space-around;
width: 50%;
color: white;
}