*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:#1f2937;
  }

.logo{
  color:#F9FAF8;
  text-transform: uppercase;
  letter-spacing: normal;
  font-size:24px;
}

.nav-links{
display: flex;
flex: 0.5;
justify-content: space-around;
width:15%;
}

.nav-links a{
  color: #F9FAF8;
  font-size: 14;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.wrapper-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 45px;
  padding-left: 250px;
  background-color: #1f2937;
  color: #F9FAF8;
}

.section__header{
align-self: center;
font-size:48px;
font-weight: bolder;
width:50%;
}

.subtext{
align-items: center;
justify-content: flex-start;
width: 45%;
font-size: 14px;
}

.button {
  flex:1;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f64C72;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 12px;
  height:15px;

}


 
